.content-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

main a {
  background-color: #BBBBBB;
  padding:8px
}

.gamebox {
  display: inline-block;
}

.gamebox > * {
  margin: 0px;
}

a > .gamebox {
  background-color: #BBBBBB;
  padding:8px
}