form {
  text-align: center;
}

table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 8px auto;
}

td {
  height: 16px;
  width: 16px;
  min-height: 16px;
  min-width: 16px;
}

input[type=number] {
  width: 6em;
  margin: 8px;
}